<link rel="stylesheet" href="/style/box.css">
<div class="container">
  <button ng-click="tester()">kjhkhj</button>

    <div class="row">
      <div id="demo">
        <div class="dragend-page col-md-5 ContentBox DragendBox">
          <div class="BoxHeader">
            Unser letztes Spiel
          </div>
          <div class="BoxBody">
            <div class="GameStats">
              <div class="HomeTeam">
                <div class="iconWrapper">
                  <img src="/img/fcc.png"/>
                </div>
                FC Chambalaya
              </div>
              <div class="GameResult">
                <span>1:1</span>
                <span class="time"> 15:00 Uhr </span>
              </div>
              <div class="GuestTeam">
                <div class="iconWrapper">
                  <img src="/img/Uni_Liga_Transparent.png"/>
                </div>
                EFC Steinbergerhunde
              </div>
            </div>
          </div>

        </div>
        <div class="dragend-page col-md-5 col-md-offset-2 ContentBox DragendBox">
          <div class="BoxHeader">
            Unser nächstes Spiel
          </div>
          <div class="BoxBody">
            <div class="GameStats">
              <div class="HomeTeam">
                <div class="iconWrapper">
                  <img src="/img/fcc.png"/>
                </div>
                FC Chambalaya
              </div>
              <div class="GameResult">
                <span>-:-</span>
                <span class="time"> 15:00 Uhr </span>
              </div>
              <div class="GuestTeam">
                <div class="iconWrapper">
                  <img src="/img/Uni_Liga_Transparent.png"/>
                </div>
                FC Chambalaya
              </div>
            </div>
          </div>

        </div>
      </div>
      <button onclick="tester()">kjhkhj</button>
    </div>
    <div class="tileIndicator">
      <div class="indicatorDot"></div>
      <div class="indicatorDot"></div>
    </div>
    <div class="row">
      <div class="col-md-12 ContentBox NewsBox">
        <div id="testStick" class="BoxHeader">
          Meldungen {{test}}
          <span style="float: right;">{{mockdata.length}}</span>
        </div>
        <div id="mainFrame">
        <div class="BoxBody">
          <div class="dragend-page">
            <button ng-click="tester()">kjhkhj</button>
          <div ng-repeat="x in mockdata" class="News" data-ng-click="toDetail($index)">
            <div class="NewsIcon"><i class="glyphicon glyphicon-{{x.icon}}"></i></div>
            <div class="NewsContent">
              <button ng-click="tester()">{{message}}</button>
              <div class="NewsTitle">{{x.title}}</div>
              <div class="NewsSubTitle">{{x.subtitle}}</div>
            </div>
          </div>

        </div>
        <div class="dragend-page">
          <div id=""class="btn btn-success" ng-click="toMain()">zurück</div>
        </div>



        </div>
      </div>

    </div>

  </div>


</div>
